/* http://blog.visme.co/website-color-schemes/ */
body {
  background-color: #F4F4F3 !important;
}

#navBar_style {
  background-color: #000000 !important;
  /* -webkit-box-shadow: 0 8px 6px -6px #181821;
       -moz-box-shadow: 0 8px 6px -6px #181821;
            box-shadow: 0 8px 6px -6px #181821; */
  margin-bottom: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-radius: 5px;
}

.cutomize_sign_btn {
  font-family: 'Lora', serif;
  padding: 4px 2px 4px 2px;
  text-align: center;
  margin-right: 1px;
  background-color: #F0B54C;
  border-color: #F0B54C;
}

.cutomize_sign_btn:hover {
    background-color: #9765AE;
    border-color: #9765AE;
}

.button_signup {
  font-family: 'Lora', serif;
  padding: 4px 2px 4px 2px;
  background-color: white;
  border-color: #F0A13E;
  color: #F0A13E;
}

.button_signup:hover {
    background-color: #9765AE;
    border-color: #9765AE;
}


.customize-font {
  background-color: black;
  font-family: 'Playfair Display SC', serif;
  font-style: Regular;
}

.navbar-searchinput {
  max-width: 340px;
  margin-right: auto;
}

.nav-input-search {
  border: 0;
  max-height: 30px;
}

.nav-btn-search {
  background-color: #6C648B;
  border: 0;
  max-height: 30px;
  opacity: .9;
}

.search-icon {
    text-align: center;
    margin-bottom: 5px;
    color: #F0B54C;
    font-size: 1em;
}

.nav-customized-font {
  /* font-family: 'Josefin Slab:100', serif; */
  margin-right: 5px !important;
}

.text-white {
  color: #F2F9F9 !important;
}

.text-white:hover {
  color: #F0B54C !important;
}


.customize-EZTicket {
  /* padding: 0 !important; */
  /* padding-left: 10px; */
  /* border: 1px solid #F0B54C; */
  margin-right: 20px !important;
}

.nav-profile-img {
  max-height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

/* ==============================CSS nav bar==============================*/


#exampleModalLabel {
  font-size: 1.5em;
}

.front-page-head {
  text-align: center;
  color: white;
  font-size: 5em !important;
  margin-top: 10px;
  margin-bottom: 140px;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Playfair Display SC', serif !important;
  /* font-size: 2em; */
  position: fixed;
  top: 15%;
  position: absolute;
  bottom: 40%;
  /* left: 42%; */
  /* right: 50%; */
  /* z-index: 20; */
  /* color: #F0B54C; */
  /* text-align: center; */
  /* text-shadow: 0 1px 2px rgba(0,0,0,.6); */
  /* border: 1px solid white;
  padding: 23px;
  background: white; */
  /* opacity: 0.6; */
}

.front-page-paragraph {
  color: white;
  font-size: 1em !important;
  top: 18%;
  right: 15%;
  padding-left: 20px;
  /* margin-right: 40%; */
  margin-left: 60%;
  margin-top: 10px;
  margin-bottom: 140px;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Lora', serif;
  /* font-size: 2em; */
  position: fixed;


  position: absolute;
}

.discription-paragraph {
  font-family: 'Lora', serif;
  padding-left: 10px;
}

.discription-head {
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

/* .h1-on-slide { */
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Lora', serif; */
  /* font-size: 2em; */
  /* position: fixed; */
  /* top: 15%; */
  /* position: absolute; */
  /* bottom: 40%; */
  /* left: 42%; */
  /* right: 50%; */
  /* z-index: 20; */
  /* color: #F0B54C; */
  /* text-align: center; */
  /* text-shadow: 0 1px 2px rgba(0,0,0,.6); */
  /* border: 1px solid white;
  padding: 23px;
  background: white; */
  /* opacity: 0.6; */
/* } */

.button-on-slide {
  /* font-family: 'Abril Fatface', cursive; */
  font-size: 1em;
  /* position: fixed; */
  top: 86%;
  position: absolute;
  /* bottom: 40%; */
  left: 49%;
  /* right: 50%; */
  z-index: 20;
  color: #F0B54C;
  text-align: center;
  /* text-shadow: 0 1px 2px rgba(0,0,0,.6); */
  border: 1px solid white;
  /* padding: 23px; */
  background: white;

}

.border-bottom {
  border-bottom: 0 !important;
}

/* ------------------------CSS nav bar------------------------*/
/* ================================================================= */
/* ------------------------CSS discription------------------------*/


.discription {
  background-color: white;
  margin-bottom: 20px;
}

.discription_pic {
  margin: 10px;
  max-width: 100%;
  margin-bottom: 40px;
}

.popupUpperRow {
  margin-bottom: 40px;
}

/* ------------------------CSS discription------------------------*/
/* ================================================================= */
/* ------------------------CSS album------------------------*/

/* ========= album ========= */

.popupTrailer {
    padding-top: 20px;
    margin: auto;
    align: center !important;
    max-width: 500px;
}

.cardimg-custom {
  max-height: 250px;
  max-width: 200px;
}
.release_time {
  font-family: 'Lora', serif;
}

.movie_rating {
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: SteelBlue;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.3em;
  margin-left: 7px;
}

.intro-paragrapg {
  font-family: 'Lora', serif;
  font-size: 0.9em;
  text-align: center;
  background-color: white;
  margin-bottom: 100px;
}

.customize-album {
  padding-top: 120px !important;
  background-color: white !important;
  /* margin-left: 70px;
  margin-right: 70px; */

  /* shadow: 10px 10px 10px 10px rgba(0,0,0,.1); */
  /* box-shadow: -webkit-box-shadow: -1px 4px 54px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 54px -11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 54px -11px rgba(0,0,0,0.75); */
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

.carousel-inner .carousel-item {
  height: 450px !important;
  max-height: 500px !important;
  background-color: #282828;
}


.customize-album-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.movie-card {
  /* border-top: 1px solid gray !important; */
  /* border-bottom: 1px solid gray !important; */
  padding-top: 25px;
  /* padding-bottom: 5px; */
  padding-left: 3px;
  padding-right: 3px;
}

.card-group1 {
  /* background-color: gray; */
  border-top: 2px solid gray;
  /* max-width: 300px; */
}

.card-group2 {
  /* background-color: lightgray; */
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.card-text {
  margin-bottom: 7px;
}

.card-body {
  padding: 10px;
}

.card-text {
  text-align: center;
  font-size: 0.7em;
  font-family: 'Lora', serif;
}

.movie-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-below-card {
  font-size: 0.7em;
  width: auto;
  height: auto;
  background-color: white;
  border-color: gray;
  font-family: 'Lora', serif;
  color: gray;
  border-radius: 2.5px;
  font-size:
}

.btn-below-card:hover {
    background-color: #9765AE;
    border-color: #9765AE;
}

.modal-discription {
  /* margin: 10px; */
  margin-top: 10px;
  font-family: 'Lora', serif;
}

.modal-title {
  text-align: center !important;
  font-size: 2em;
  margin-left: 20px;
}

/* ------------------------CSS album------------------------*/
/* ================================================================= */

.front-sidebar {
  color: white;
  padding-left: 25px;
  background-color: white;
  max-height: 600px;
  height: auto;
  width: auto;
}

.trailer-title {
  color: black;
  text-align: center;
  border-top: 1px solid black;
  font-size: 1em;
}

.sidebar-discription {
  font-family: sans-serif;
  font-size: 0.7em;
  color: black;
}

.table-customize {
  font-family: 'Josefin Slab', serif !important;
  background-color: white !important;
  color: black;
}

.table td, .table th{
  padding: 0 !important;
  vertical-align: middle !important;
}

.wrapper {
  /* position: relative; */
  padding-bottom: 0 !important;
  margin: 0 !important;
  left: 15% !important;
  /* bottom: 10px; */
}



.text-space {
  padding-bottom: 0 !important;
}

.customize-font {
  background-color: black;
  font-family: 'Playfair Display SC', serif;
  font-style: Regular;
}

#jumbtext{
  color: white;
  text-shadow:2px 2px 8px #2B2109;
}

.jumbotron {
  background-color: black;
  background: url(BGimg.jpg) no-repeat center center;
}


/* #carouselExampleControls {
  height: 300px !important;
  max-height: 400px !important;
  background-color: #282828;
} */


a {
  text-decoration: none !important;
}

/* ------------------------CSS sidebar------------------------*/

.cutomize_sidebar_btn {
  font-family: 'Lora', serif;
  font-size: 1.4em;
  background-color: #6C648B !important;
  border: 0;
}

.sidebar-theater-button-div {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* ------------------------CSS sidebar------------------------*/

/* ------------------------CSS footer------------------------*/
.footer-costumize {
  margin-top: 0 !important;
}

.page-footer {
  background-color: #4E4E50 !important;
  width: 100%;
  position: relative;
  bottom: 0;
}













/* ------------------------CSS Checkout Page------------------------*/

.advertisement {
  padding-top: 20px;
  color: white;
  text-align: center;
  height: 100%;
  background-image: url(../graphics/jordon.jpg);
  background-repeat: no-repeat;
}



/* ------------------------CSS Checkout Page------------------------*/
